* {
    margin:0;
    padding: 0;
}
header {
    background-color:black;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.nav_list {
    display: flex;
    color: white;
    list-style-type: none;
}
a {
    color: white;
    text-decoration: none;
}
.header-icons > img{
    margin-left: 10px;
}
body{
    background-image: url(image/backimage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
div{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
